table{
    margin: auto;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
}
th{
    padding: 1%;
    background-color: #0000FF;
    color: #ffffff;
    text-align: center;
}
td{
    text-align: center;
}
/* Titre de nos différents title menu*/
.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin: 10px;
    text-align: center;
    color: #0000FF;
}
h6{
    color: #0000FF;
    margin-left: 1%;
}
.danger{
    background-color: red;
}